<section class="text-gray-400 bg-gray-900 body-font">
    <div class="container px-5 py-24 mx-auto">

      <div class="flex flex-col text-center w-full mb-20">
        @if (artwork != null &&artwork != undefined) {
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">{{artwork.title}}</h1>
          <p class="lg:w-2/3 mx-auto leading-relaxed text-base">{{artwork.id}}</p>
          <p class="lg:w-2/3 mx-auto leading-relaxed text-base">{{artwork.date_display}}</p>
          <p class="lg:w-2/3 mx-auto leading-relaxed text-base" [innerHTML]="artwork.description"></p>
        }
        @else{
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">Loading artist...</h1>
        }
      </div>

      <div class="flex flex-wrap -m-4">

        @if(artwork != null && artwork != undefined) {
          <div class="lg:w-1/3 sm:w-1/2 p-4">
            <div class="flex relative">
              <img alt={{artwork.thumbnail.alt_text}} class="absolute inset-0 w-full h-full object-cover object-center" src={{artwork.thumbnail.lqip}}
              >
              <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-800 bg-gray-900 opacity-0 hover:opacity-100">
                <h2 class="tracking-widest text-sm title-font font-medium text-pink-400 mb-1">{{artwork.title}}</h2>
              </div>
            </div>
          </div>
        }
        @else {
          <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Artworks loading...</p>
        }

      </div>
    </div>
  </section>